.libre{
    background-color: lightblue;
    color: black;
    width: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.ocupado{
    background-color: rgb(192, 76, 76);
    color: black;
    width: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
}

div{
    margin: 0 ;
    padding: 0;
}

p.libre p.ocupado :hover{
    width: 150px;
    height: 25px;
}
.oculto{
    visibility: hidden;
}

#textFinal{
    display: block;
    font-weight: 300;
    font-style: italic;
    padding: 5px;
}